@model GenericMenuModel<Charisma.Core.Model.Menu.MenuItemType,
    Charisma.Core.Model.Menu.MenuItemSubType,
    Charisma.Core.Model.Menu.MenuItem>

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MenuItemSubType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ActiveSubType.Id" />
            <div class="form-group">
                <label asp-for="@Model.ActiveSubType.Name" class="control-label"></label>
                <input asp-for="@Model.ActiveSubType.Name" class="form-control" />
                <span asp-validation-for="@Model.ActiveSubType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ActiveSubType.Description" class="control-label"></label>
                <input asp-for="@Model.ActiveSubType.Description" class="form-control" />
                <span asp-validation-for="@Model.ActiveSubType.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-route-id="@Model.id" asp-route-ownerId="@Model.ownerId"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.ownerId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
